<% if user_signed_in? %>
  <% if current_user.favoritable_for?(post) %>
    <%= link_to post_favorites_path(post), :method => :post, :remote => true, :class => "btn btn-large btn-primary btn-kawaimi", :data => {:disable_with => "Sending..."} do %>
      <i class="icon-heart icon-white"></i> kawaimi
    <% end %>
  <% else %>
    <button class="btn btn-large btn-success btn-kawaimi"><i class="icon-ok icon-white"></i> kawaimi'd</button>
  <% end %>
<% else %>
  <%= link_to new_user_registration_path, :class => "btn btn-large btn-primary btn-kawaimi" do %>
    <i class="icon-heart icon-white"></i> kawaimi
  <% end %>
<% end %>
